.navbar-brand {
	margin-top: -7px;
}

.alertcontainer {
	position: relative;
	width: 50%;
	height: 10px;
	margin: 20px auto;
}

.flash {
	position: absolute;
	width: 350px;
	top: 50px;
	left: 50%;
	margin-left: -175px;
	text-align: center;
}

:-ms-input-placeholder {
	color: rgb(186, 186, 186);
}

::-webkit-input-placeholder {
	color: rgb(186, 186, 186);
}

.placeholder {
	color: rgb(186, 186, 186);
}